<mat-toolbar class="toolbar">
  <span style="color: white;">{{service.form.controls['$key'].value?"Modificar Usuario":"Detalles del usuario"}}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>

  <form [formGroup]="service.form" class="normal-form" (submit)="onSubmit()">
    <mat-grid-list cols="2" rowHeight="580px">
      
      <mat-grid-tile style="padding-top: 40px">
        <div class="controles-container">
          <input type="hidden" formControlName="$key">
          
         <img mat-card-avatar class="profile-image" src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu">

          <mat-form-field>
            <input [formControl]="nombreFormControl" formControlName="name" matInput placeholder="Nombre" #nombre>
            <mat-error *ngIf="service.form.controls['name'].errors?.required">This field is mandatory.</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input formControlName="last_name" matInput placeholder="Apellido">
            <mat-error *ngIf="service.form.controls['last_name'].errors?.required">This field is mandatory.</mat-error>
          </mat-form-field>
          
          <mat-form-field>
            <input formControlName="email" matInput placeholder="Correo">
            <mat-error *ngIf="service.form.controls['email'].errors?.email">El correo debe ser real.</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input formControlName="phone" matInput placeholder="Celular">
            <mat-error *ngIf="service.form.controls['phone'].errors?.required">This field is mandatory.</mat-error>
            <mat-error *ngIf="service.form.controls['phone'].errors?.minlength">Minimum 8 charactors needed.</mat-error>
          </mat-form-field>

          <mat-form-field>
              <input formControlName="age" matInput placeholder="Edad">
          </mat-form-field>

          <mat-form-field>
            <input formControlName="profession" matInput placeholder="Profesion">
          </mat-form-field>
    
          <mat-form-field>
            <input formControlName="address" matInput placeholder="Direccion">
          </mat-form-field>

        </div>
      </mat-grid-tile>

      <mat-grid-tile>

        <div class="controles-container">

        <div fxLayout="row" fxLayoutAlign="center center" >
            <canvas class="my-4 w-100" id="DoughnutChart" width="50%" height="50%"></canvas>
        </div>

        <hr style="color: transparent;">

        <div class="button-row" style="text-align: center;">
          <button mat-raised-button color="primary" type="submit" id="saveButton" [disabled]="service.form.invalid||service.form.disabled"  >Guardar</button>
          <button mat-raised-button color="warn" (click)="onClear()" id="cleanButton" *ngIf="incluir">Limpiar</button>
        </div>
        </div>
      </mat-grid-tile>

    </mat-grid-list>
  </form>