/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

form.normal-form{
    margin: 10px;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.button-row button{
    margin: 5px;
}

.toolbar{
    background-color: #3f51b5;
    height: 35px;
}

.controles-container{
    width: 100%;
    padding: 5%;    
}

.controles-container > * {
    width: 100%;
}

.profile-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    width: 30% !important;
    height: 30% !important;
    align-self: center;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.add-bottom-padding{
    padding-bottom: 10px;
}

 .btn-dialog-close{
    width: 40px;
    min-width: 0px !important;
    height: 35px;
    padding: 0px !important;
    color: white;
}

.hide{
    display: none;
}

form.normal-form{
    margin: 10px;
}